@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.list {
  width: 400px;
  font-family: Roboto;
  font-weight: 100;
  border: 1px solid #e9eaeb;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.listTitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.itemName {
  font-size: 14px;
  color: #000000;
}

.revAmt {
  font-size: 10px;
  color: #CCCCCC;
}

.hr {
  border: none;
  height: 1px;
  background-color: #e9eaeb;
  color: #e9eaeb;
  margin-top: 4px;
  margin-bottom: 4px;
}

.circle {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #9bca3c;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 28px;
  width: 34px;
  height: 28px; 
  border-radius: 50%;
  padding: 1.5px;
}

.item {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.itemCont {
  display: flex;
  flex-direction: row;
  align-items:center;
}